# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
.ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover
.cache

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-output.txt

# Logs
*.log

# Builds
build/
dist/
*.egg-info/

# Database
*.sqlite3

# System
Thumbs.db
ehthumbs.db
